In [20]:
import pandas as pd

STRING DB Data

In [21]:
stringDB_Orthology = pd.read_csv('Data/4932.protein.orthology.v12.0.txt', sep = '\t', dtype = 'str')
stringDB_Orthology

           #protein taxonomy_level orthologous_group_or_ortholog
0        4932.Q0010              1                       COG1028
1        4932.Q0010           2759                       KOG1200
2        4932.Q0010           4751                     NOG154851
3        4932.Q0010           4890                     NOG114437
4        4932.Q0010           4892                     NOG001405
...             ...            ...                           ...
43024  4932.YPR204W           4890                     NOG098126
43025  4932.YPR204W           4892                     NOG011653
43026  4932.YPR204W           4893                     NOG005837
43027  4932.YPR204W          33154                     NOG231507
43028  4932.YPR204W         451864                     NOG125910

[43029 rows x 3 columns]

In [22]:
stringDB_COG_links = pd.read_csv('Data/COG.links.v12.0.txt',sep = ' ', dtype = 'str')
stringDB_COG_links

              group1      group2 association_score
0            COG0001     COG0002               664
1            COG0001     COG0004               321
2            COG0001     COG0005               351
3            COG0001     COG0006               322
4            COG0001     COG0007               910
...              ...         ...               ...
39471865  arCOG15273  arCOG04526               398
39471866  arCOG15273  arCOG05011               381
39471867  arCOG15273  arCOG06153               398
39471868  arCOG15274  arCOG13210               398
39471869  arCOG15274  arCOG12584               398

[39471870 rows x 3 columns]

In [23]:
stringDB_COG_mappings = pd.read_csv('Data/COG.mappings.v12.0 .txt', sep = '\t', dtype = 'str')
stringDB_COG_mappings

,#protein,start_position,end_position,orthologous_group,protein_annotation
0,100053.GCA_002009845_00512,1,441,COG0001,Unannotated protein.
1,1000565.METUNv1_01136,1,548,COG0001,Glutamate-1-semialdehyde aminotransferase; Bel...
2,1000565.METUNv1_01648,1,83,COG0001,Hypothetical protein.
3,1000565.METUNv1_03305,1,428,COG0001,"Glutamate-1-semialdehyde 2,1-aminomutase."
4,1001240.GY21_07880,1,438,COG0001,Hypothetical protein; Derived by automated com...
...,...,...,...,...,...
56103116,996166.SAMN05192554_12635,9,233,arCOG15273,Hypothetical protein.
56103117,996166.SAMN05192554_1623,6,239,arCOG15273,"DNA polymerase family B, exonuclease domain."
56103118,1041930.Mtc_0247,10,229,arCOG15274,Hypothetical protein.
56103119,304371.MCP_0252,1,220,arCOG15274,Conserved hypothetical protein.
56103120,351160.RCIX1183,1,221,arCOG15274,Hypothetical protein.