In [20]:
import pandas as pd
import numpy as np

STRING DB Data

In [21]:
stringDB_Orthology = pd.read_csv('data/4932.protein.orthology.v12.0.txt', sep = '\t', dtype = 'str')
stringDB_Orthology

           #protein taxonomy_level orthologous_group_or_ortholog
0        4932.Q0010              1                       COG1028
1        4932.Q0010           2759                       KOG1200
2        4932.Q0010           4751                     NOG154851
3        4932.Q0010           4890                     NOG114437
4        4932.Q0010           4892                     NOG001405
...             ...            ...                           ...
43024  4932.YPR204W           4890                     NOG098126
43025  4932.YPR204W           4892                     NOG011653
43026  4932.YPR204W           4893                     NOG005837
43027  4932.YPR204W          33154                     NOG231507
43028  4932.YPR204W         451864                     NOG125910

[43029 rows x 3 columns]

In [22]:
stringDB_COG_links = pd.read_csv('data/COG.links.v12.0.txt',sep = ' ', dtype = 'str')
stringDB_COG_links

              group1      group2 association_score
0            COG0001     COG0002               664
1            COG0001     COG0004               321
2            COG0001     COG0005               351
3            COG0001     COG0006               322
4            COG0001     COG0007               910
...              ...         ...               ...
39471865  arCOG15273  arCOG04526               398
39471866  arCOG15273  arCOG05011               381
39471867  arCOG15273  arCOG06153               398
39471868  arCOG15274  arCOG13210               398
39471869  arCOG15274  arCOG12584               398

[39471870 rows x 3 columns]

In [23]:
stringDB_COG_mappings = pd.read_csv('data/COG.mappings.v12.0 .txt', sep = '\t', dtype = 'str')
stringDB_COG_mappings

,#protein,start_position,end_position,orthologous_group,protein_annotation
0,100053.GCA_002009845_00512,1,441,COG0001,Unannotated protein.
1,1000565.METUNv1_01136,1,548,COG0001,Glutamate-1-semialdehyde aminotransferase; Bel...
2,1000565.METUNv1_01648,1,83,COG0001,Hypothetical protein.
3,1000565.METUNv1_03305,1,428,COG0001,"Glutamate-1-semialdehyde 2,1-aminomutase."
4,1001240.GY21_07880,1,438,COG0001,Hypothetical protein; Derived by automated com...
...,...,...,...,...,...
56103116,996166.SAMN05192554_12635,9,233,arCOG15273,Hypothetical protein.
56103117,996166.SAMN05192554_1623,6,239,arCOG15273,"DNA polymerase family B, exonuclease domain."
56103118,1041930.Mtc_0247,10,229,arCOG15274,Hypothetical protein.
56103119,304371.MCP_0252,1,220,arCOG15274,Conserved hypothetical protein.
56103120,351160.RCIX1183,1,221,arCOG15274,Hypothetical protein.

In [32]:
# flter mappings data to only contain yeast proteins
yeast_mappings = stringDB_COG_mappings.loc[stringDB_COG_mappings["#protein"].str.startswith("4932", na=False),:]
yeast_mappings

,#protein,start_position,end_position,orthologous_group,protein_annotation
20432,4932.YER069W,59,863,COG0002,Acetylglutamate kinase and N-acetyl-gamma-glut...
28416,4932.YDL100C,1,354,COG0003,ATPase GET3; Guanine nucleotide exchange facto...
43659,4932.YGR121C,1,492,COG0004,Ammonium transporter MEP1; Ammonium permease; ...
43660,4932.YNL142W,1,499,COG0004,Ammonium transporter MEP2; Ammonium permease i...
43661,4932.YPR138C,1,489,COG0004,Ammonium transporter MEP3; Ammonium permease o...
...,...,...,...,...,...
50952720,4932.YDR003W,1,210,NOG234180,Vacuolar protein; presumably functions within ...
50983941,4932.YPL226W,1,1196,NOG234446,[NU+] prion formation protein 1; ATP binding c...
50984647,4932.YLR249W,1,1044,NOG234447,Translation elongation factor 3; contains two ...
50984648,4932.YNL014W,1,1044,NOG234447,Translational elongation factor EF-3; member o...
55855619,4932.YOR021C,1,213,arCOG00968,Protein arginine N-methyltransferase SFM1; SPO...

In [41]:
# get the yeast orthologous groups
mapping_ortho_groups = yeast_mappings["orthologous_group"].unique()


# Get the present orthologous group associations
yeast_ortho_associations = stringDB_COG_links.loc[
    stringDB_COG_links["group1"].isin(mapping_ortho_groups) | 
    stringDB_COG_links["group2"].isin(mapping_ortho_groups)
]

yeast_ortho_associations

              group1   group2 association_score
0            COG0001  COG0002               664
1            COG0001  COG0004               321
2            COG0001  COG0005               351
3            COG0001  COG0006               322
4            COG0001  COG0007               910
...              ...      ...               ...
39471408  arCOG15028  COG0109               450
39471409  arCOG15028  COG1622               659
39471410  arCOG15028  COG1845               450
39471481  arCOG15062  COG0427               170
39471715  arCOG15091  COG1499               122

[6997338 rows x 3 columns]